<ol class="breadcrumb">
  <li>Home</li>
</ol>

<div class="alert alert-success" role="alert" ng-show="success">
  Entry successfully removed.
</div>

<h2>New Place</h2>
<form class="form" role="form">
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" ng-model="place.date" class="form-control">
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input type="text" ng-model="place.place" class="form-control">
  </div>
  <button type="submit" class="btn btn-success" ng-click="save(place)">Save</button>
</form>

<h2>Previous Places</h2>
<div ng-hide="places.length">
	- No previous places recorded -
</div>

<table class="table" ng-show="places.length">
  <thead>
    <tr><th>Date</th><th>Place</th><th>&nbsp;</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="(date, place) in places" class="{{ date == newEntry ? 'success' : '' }}">
      <td>{{ date }}</td>
      <td>{{ place }}</td>
      <td>
        <a ng-href="#/place/{{date}}">Edit</a> |
        <a href ng-click="rmPlace(date)">Remove</a>
      </td>
    </tr>
  </tbody>
</table>